[Desktop Entry]
Name=Rust Rover
Comment=Edit text
Exec=rustrover.sh
Icon=rustrover.png
Type=Application
Terminal=false
Categories=Development;TextEditor;Utility;
